{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>S&rsquo;identifier</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <hr>
    <p>Nouvel utilisateur? <a href="{{ url_for('auth.register') }}">Cliquez ici pour créer un compte!</a></p>
    <p>
        Vous avez oublié votre mot de passe?
        <a href="{{ url_for('auth.reset_password_request') }}">Cliquez ici pour le réinitialiser</a>
    </p>
{% endblock %}
