<table class="table table-hover">
    <tr>
        <td>
            <div class="row">
                <div class="col-sm-4">
                    <p>Catégorie de Produit: {{ product.product_product.name }}<br>
                    Nom de Produit: {{ product.name }}<br>
                    Origine: {{ product.origin }}<br>
                    Bio: {{ product.organic }}</p>
                </div>
                <div class="col-sm-6">
                    <p>Equitable: {{ product.fair_trade }}<br>
                    Année de récolte: {{ product.crop }}<br>
                    Couleur: <span style="background-color: {{ product.colour }};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                    Commentaires: {{ product.comment }}</p>
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-block">
                        <a href="{{ url_for('products.edit_product', id=product.id) }}"><button class="btn btn-outline-primary"><i class="fas fa-fw fa-pen"></i></button></a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
