<table class="table table-hover">
    <tr>
        <td>
            <div class="row">
                <div class="col-sm-6">
                    <u>Code devise:</u> {{ currency.name }}<br>
                    <u>Description:</u> {{ currency.description }}<br>
                    <u>Devise par défaut:</u> {{ currency.default_curr }}
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-block">
                        <a href="{{ url_for('currencies.edit_currency', id=currency.id) }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        <form method="post" action="{{ url_for('currencies.delete_currency', id=currency.id) }}"><button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
