<table class="table table-hover">
    <tr>
        <td>
            <div class="row">
                <div class="col-sm-6">
                    <p>Lot# / Production: {{ production_item.production_id }} - {{ production_item.production_production_item.name }}<br>
                    Famille: {{ production_item.product_family_production_item.name }}<br>
                    Produit: {{ production_item.product_production_item.name }}<br>
                    Quantité: {{ production_item.quantity }} kg</p>
                </div>

            </div>
        </td>
    </tr>
</table>