<table class="table table-hover">
    <tr>
        <td>
            <div class="row">
                <div class="col-sm-6">
                    <p>N° Lot: {{ production.id }}<br>
                    Date: {{ moment(production.date).format('LL') }}<br>
                    Production: {{ production.name }}<br>
                    {% autoescape false %}
                    {{ production.comment | replace("\n", "<br/>") }}<br>
                    {% endautoescape %}</p>
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-group">
                        <a href="{{ url_for('productions.edit_production', id=production.id) }}"><button class="btn btn-outline-primary"><i class="fas fa-fw fa-pen"></i></button></a>
                        <a href="{{ url_for('productions.view_production_item') }}"><button class="btn btn-outline-secondary"><i class="fas fa-fw fa-search"></i></button></a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>