{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{{ url_for('main.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{{ url_for('productions.add_production') }}">Ajouter une production</a></li>
                <li class="breadcrumb-item active"><a href="{{ url_for('productions.select_production_item') }}">Détail d'une production</a></li>
                <li class="breadcrumb-item active"><a href="{{ url_for('productions.list_of_productions') }}">Liste des productions</a></li>
            </ol>
            <h1>Ajouter une production</h1>
            <hr>
            <table class="table table-hover">
                <tr>
                    <div class="row">
                        <div class="col-sm-6">
                            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% for production in productions %}
                                {% include 'productions/_production.html' %}
                            {% endfor %}
                        {{ macros.pagination_widget(pagination, 'productions.add_production') }}
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {# script to customize the date picker #}
    <script charset="UTF-8" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
    {# Script to manage the date picker #}
    <script type="text/javascript">
        $(function () {
            $('#date_picker').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "fr",
                daysOfWeekHighlighted: "0,6",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                assumeNearbyYear: true,
                weekStart: 1
            });
        });
    </script>
{% endblock %}