{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{{ url_for('main.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{{ url_for('productions.add_production') }}">Ajouter une production</a></li>
                <li class="breadcrumb-item active"><a href="{{ url_for('productions.view_production_item') }}">Détail d'une production</a></li>
                <li class="breadcrumb-item active"><a href="{{ url_for('productions.list_of_productions') }}">Liste des productions</a></li>
            </ol>
            <h1>Editer le produit d'une production</h1>
            <hr>
            <table class="table table-hover">
                <tr>
                    <div class="row">
                        <div class="col-sm-6">
                            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                            <p></p>
                            <form method="post" action="{{ url_for('productions.delete_production_item', id=id) }}"><a><button type="submit" class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button></a></form>
                            <a href="{{ url_for('productions.add_production_item') }}"><button type="submit" class="btn btn-warning"><i class="fas fa-fw fa-cart-arrow-down"></i></button></a>
                            <a href="{{ url_for('productions.view_production_item', id=id) }}"><button type="submit" class="btn btn-outline-dark"><i class="fas fa-fw fa-exchange-alt"></i></button></a>
                            <a href="{{ url_for('productions.view_production_item', id=id) }}"><button type="submit" class="btn btn-info"><i class="fas fa-fw fa-fire-alt"></i></button></a>
                            <a href="{{ url_for('productions.view_production_item', id=id) }}"><button type="submit" class="btn btn-danger"><i class="fas fa-fw fa-life-ring"></i></button></a>
                            <a href="{{ url_for('productions.view_production_item', id=id) }}"><button type="submit" class="btn btn-success"><i class="fas fa-fw fa-hammer"></i></button></a>
                            <a href="{{ url_for('productions.view_production_item', id=id) }}"><button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-thermometer-half"></i></button></a>
                            <a href="{{ url_for('productions.view_production_item', id=id) }}"><button type="submit" class="btn btn-dark"><i class="fas fa-fw fa-flask"></i></button></a>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% for production_item in production_items %}
                                {% include 'productions/_production_item.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {# Script to manage the drop down select fields and links between them #}
    <script charset="utf-8" type="text/javascript">

        $(function() {

        // jQuery selection for the select boxes
        var dropdown = {
            production_id: $('#select_production'),
            product_family_id: $('#select_product_family'),
            product_id: $('#select_product')
        };

        // call to update on load
        updateProducts_id();

        // function to call XHR and update Product drop down
        function updateProducts_id() {
            var send = {
                product_family_id: dropdown.product_family_id.val()
            };
            dropdown.product_id.attr('disabled', 'disabled');
            dropdown.product_id.empty();
            $.getJSON("{{ url_for('productions._get_products') }}", send, function(data) {
                data.forEach(function(item) {
                    dropdown.product_id.append(
                        $('<option>', {
                            value: item[0],
                            text: item[1]
                        })
                    );
                });
                dropdown.product_id.removeAttr('disabled');
            });
        }

        // event listener to product family drop down change
        dropdown.product_family_id.on('change', function() {
            updateProducts_id();
        });
    });

    </script>
{% endblock %}