{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
    <h1>Editer la production # {{ id }}</h1>
    <hr>
    <table class="table table-hover">
        <tr>
            <div class="row">
                <div class="col-sm-4">
                    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                    <form method="post" action="{{ url_for('productions.delete_production', id=id) }}"><button type="submit" class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button></form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <form class="form form-horizontal" method="post" role="form">
                    <a action="{{ url_for('productions.add_production_item') }}"><button type="submit" class="btn btn-warning"><i class="fas fa-fw fa-cart-arrow-down"></i></button></a>
                    <a action="{{ url_for('productions.view_production_item') }}"><button type="submit" class="btn btn-outline-dark"><i class="fas fa-fw fa-exchange-alt"></i></button></a>
                    <a action="{{ url_for('productions.view_production_item') }}"><button type="submit" class="btn btn-info"><i class="fas fa-fw fa-fire-alt"></i></button></a>
                    <a action="{{ url_for('productions.view_production_item') }}"><button type="submit" class="btn btn-success"><i class="fas fa-fw fa-hammer"></i></button></a>
                    <a action="{{ url_for('productions.view_production_item') }}"><button type="submit" class="btn btn-danger"><i class="fas fa-fw fa-life-ring"></i></button></a>
                    <a action="{{ url_for('productions.view_production_item') }}"><button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-thermometer-half"></i></button></a>
                    </form>
                </div>
            </div>
        </tr>
        <tr>
            <div class="col-sm-6">
                <div class="pagination">
                    {% for production in productions %}
                        {% include 'productions/_production.html' %}
                    {% endfor %}
                {{ macros.pagination_widget(pagination, 'productions.edit_production', id=id) }}
                </div>
            </div>
        </tr>

    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {# script to customize the date picker #}
    <script src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}" />
    {# Script to manage the date picker #}
    <script type="text/javascript">
        $(function () {
            $('#date_picker').datetimepicker({
                format: 'DD/MM/YYYY',
                locale: 'fr'
            });
        });
    </script>
{% endblock %}