{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
    <h1>Editer une production</h1>
    <hr>
    <table class="table table-hover">
        <tr>
            <div class="row">
                <div class="col-sm-4">
                    <form class="form form-horizontal" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                        {{ wtf.form_field(form.name) }}
                        {{ wtf.form_field(form.date) }}
                        {{ wtf.form_field(form.comment) }}
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                        <form method="post" action="{{ url_for('productions.delete_production', id=id) }}"><button type="submit" class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button></form>
                    </form>
                </div>
            </div>
        </tr>
        <tr>
            <div class="col-sm-6">
                <div class="pagination">
                    {% for production in productions %}
                        {% include 'productions/_production.html' %}
                    {% endfor %}
                {{ macros.pagination_widget(pagination, 'productions.edit_production', id=id) }}
                </div>
            </div>
        </tr>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {# Script to manage the date picker #}
    <script type="text/javascript">
        $(function () {
            $('#date_picker').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
    </script>
{% endblock %}