<p>Bonjour {{ user.username }},</p>
<p>
    Pour réinitialiser votre mot de passe,
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">veuillez cliquer ici</a>
</p>
<p>Vous pouvez également copier et coller le lien suivant dans la barre de navigation de votre navigateur bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<P>Si vous n'avez pas demandé à réinitialiser votre mot de passe, vous pouvez ignorer ce message.</P>
<p>Merci,</p>
<p>L&rsquo;équipe de l&rsquo;Atelier Chocolat</p>