<table class="table table-hover">
    <tr>
        <td>
            <div class="row">
                <div class="col-sm-6">
                    <u>Famille de Produit:</u> {{ product_family.name }}<br>
                    <u>Icon:</u> {{ product_family.icon }}
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-block">
                        <a href="{{ url_for('product_families.edit_product_family', id=product_family.id) }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        <form method="post" action="{{ url_for('product_families.delete_product_family', id=product_family.id) }}"><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span></button></form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
